.vscode/launch.json
algorithm/setNclass.py
python_grammer/compare.py
python_grammer/test.py
모두를 위한 딥러닝/1번 tf에 대해 입문.txt
모두를 위한 딥러닝/ai주제.png
모두를 위한 딥러닝/lec2.txt
모두를 위한 딥러닝/중다/모두의 머신러닝.txt
모두를 위한 딥러닝/중다/선형회기분석 공식.JPG
모두를 위한 딥러닝/중다/중다회귀 매트릭스 이용 행렬.JPG
모두를 위한 딥러닝/중다/중다회귀 매트릭스 이용 행렬2.JPG
모두를 위한 딥러닝/중다/중다회귀분석 공식.JPG
모두를 위한 딥러닝/중다/중다회귀분석 코드.JPG
모두를 위한 딥러닝/중다/중다회귀분석.txt
모두를 위한 딥러닝/중다/WX 와 XW의 차이.JPG
algorithm/setNclass.py
algorithm/setNclass.py
프로그래머스_채용추천테스트/sample_output_job.csv
프로그래머스_채용추천테스트/test_job.csv
프로그래머스_채용추천테스트/train_job.zip
프로그래머스_채용추천테스트/train_job/job_companies.csv
프로그래머스_채용추천테스트/train_job/job_tags.csv
프로그래머스_채용추천테스트/train_job/tags.csv
프로그래머스_채용추천테스트/train_job/train.csv
프로그래머스_채용추천테스트/train_job/user_tags.csv
프로그래머스_채용추천테스트/train_job/__MACOSX/._job_companies.csv
프로그래머스_채용추천테스트/train_job/__MACOSX/._job_tags.csv
프로그래머스_채용추천테스트/train_job/__MACOSX/._tags.csv
프로그래머스_채용추천테스트/train_job/__MACOSX/._train.csv
프로그래머스_채용추천테스트/train_job/__MACOSX/._user_tags.csv
